.state-park-container {
  /* border: 2px solid red; */
  height: 75vh;
  width: 100%;
  margin-top: 10px;
}

.state-park-map-and-list-container {
  /* border: 2px solid orange; */
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.allParksList {
  width: 40%;
  margin: 0 auto;
}
